body {
    display: flex;
    flex-direction: row;
    background-color: rgb(143, 18, 18);
}

#inputContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

#left, #right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    height: 4em;
    padding: 1em;
    border-radius: 3em;
    color: whitesmoke;
    border: white solid 3px;
    margin-top: 35vh;
    font-size: x-large;
    max-width: 35vw;
}

.checkboxes {
    display: flex;
    flex-direction: row;
}

.leftCheck, .rightCheck {
    margin: .5em;
    margin-top: 1em;
    width: 2em;
    height: 2em;
}
